- var data = htmlWebpackPlugin.options.data
doctype html
html(lang="ja")
  head
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    meta(content="width=device-width,initial-scale=1" name="viewport")
    meta(name="description" content=data.description)
    meta(property="og:title" content=data.title)
    meta(property="og:url" content=data.url)
    meta(property="og:image" content="img/logo.svg")
    meta(property="og:site_name" content=data.url)
    meta(property="og:description" content=data.description)
    meta(property="og:locale" content="ja_JP")
    meta(property="og:type" content="website")
    meta(name="keywords" content="Haskell")
    meta(name="thumbnail" content="img/logo.svg")
    meta(name="twitter:description" content=data.description)
    meta(name="twitter:image" content="img/logo.svg")
    meta(name="twitter:title" content=data.title)
    meta(name="google-site-verification" content="J4cFypWsWqeLYlIZciB9iZFeeGPG935_5JOCUknVzJo")
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    title
      | #{data.title}
  body
    header.header
      .header_background
        .header_background_container
          .header_background_core#js-background
        .header_background_back
      .header_logo
        .header_logo_core
      h1.header_description
        span
          | #{data.description}
    main.main
      .content
        h2.content-title
          a(href="/blog/") Blog
        .content-body
          | Haskell-jpが運営するblogです。記事の寄稿を常時募集しております。#[a(href="https://github.com/haskell-jp/blog") こちらのリポジトリー]にPull Requestを送ってください！
      .content
        h2.content-title
          a(href="https://wiki.haskell.jp") Wiki
        .content-body
          | Haskell-jpが管理するWikiです。GitHubアカウントでログインすると、どなたでも編集できます。
      .content
        h2.content-title
          // 相互リンクのバナーができ次第、相互リンクのリンク集に変える
          a(href="http://haskell-jp.connpass.com") Events
        .content-body
          | Haskell-jpの公式connpassグループにて、随時募集しています。
      .content
        h2.content-title
          a(href="https://github.com/haskell-jp/recipe-collection") Haskell レシピ集
        .content-body
          | Haskell のレシピ集、あるいは逆引き辞典です。
    footer.footer
      | © 2017 日本Haskellユーザーグループ
      .notice-ga
        | 当ウェブサイトでは、みなさんの利用状況を把握するために#[a(href="https://support.google.com/analytics/answer/6004245?hl=ja") Google Analytics]で情報を収集しています。集めた情報は統計的に処理した上で、当ウェブサイトの改善のための参考情報としてのみ使用されます。
    div.
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-94110610-1', 'auto');
        ga('send', 'pageview');

      </script>
