- var data = htmlWebpackPlugin.options.data
doctype html
html(lang="ja")
  head
    meta(content="IE=edge" http-equiv="X-UA-Compatible")
    meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    meta(content="width=device-width,initial-scale=1" name="viewport")
    meta(name="description" content=data.description)
    meta(property="og:title" content=data.title)
    meta(property="og:url" content=data.url)
    meta(property="og:image" content="img/logo.svg")
    meta(property="og:site_name" content=data.url)
    meta(property="og:description" content=data.description)
    meta(property="og:locale" content="ja_JP")
    meta(property="og:type" content="website")
    meta(name="keywords" content="Haskell")
    meta(name="thumbnail" content="img/logo.svg")
    meta(name="twitter:description" content=data.description)
    meta(name="twitter:image" content="img/logo.svg")
    meta(name="twitter:title" content=data.title)
    link(rel="icon" type="image/x-icon" href="/favicon.ico")
    title
      | #{data.title}
  body
    header.header
      .header_background
        .header_background_container
          .header_background_core#js-background
        .header_background_back
      .header_logo
        .header_logo_core
      h1.header_description
        span
          | #{data.description}
    main.main
      .content
        h2.content-title
          | コンテンツ
        .content-body
          | ...
      .content
        h2.content-title
          | コンテンツ
        .content-body
          | ...
    footer.footer
      | © 2017- haskell.jp
